.card {
    position: relative;
    overflow: hidden;
    height: 35rem;
    border-radius: 3px;
    prespective: 150rem;
    // background-color: $color_light-gray;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 35rem;
        width: 100%;
        text-align: center;
        transition: all 1s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color_black, .15);

        &-front {
            background-color:$color-white;

            &--1 {
                background-color:$color-white;
                // background-image: linear-gradient(to bottom right, rgba($color-orange, 0.1), rgba($color-yellow, 0.1));
            }
            &--2 {
                background-color:$color-white;
                // background-image: linear-gradient(to bottom right, rgba($color_dark-green, 0.1), rgba($color_light-green, 0.1));    
            }
            &--3 {
                background-color:$color-white;
                // background-image: linear-gradient(to bottom right, rgba($color-purple, 0.1), rgba($color-blue, 0.1));    
            }
        }

        &-back {
            // background-color:yellow;
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to bottom right, $color-yellow, $color-orange);    
            }
            &--2 {
                background-image: linear-gradient(to bottom right, $color_light-green, $color_dark-green);    
            }
            &--3 {
                background-image: linear-gradient(to bottom right, $color-blue, $color-purple);    
            }
        }
    }

    &:hover &__side-front {
        transform: rotateY(-180deg);
    }

    &:hover &__side-back {
        transform: rotateY(0);
    }

    &__image {
        height: 15rem;
        background-position: center;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-blend-mode: screen;

        &--1 {
            background-image: linear-gradient(to bottom right, $color-orange, $color-yellow), url("../img/nat-5.jpg");
        }

        &--2 {
            background-image: linear-gradient(to bottom right, $color_dark-green, $color_light-green), url("../img/nat-6.jpg");
        }

        &--3 {
            background-image: linear-gradient(to bottom right, $color-blue, $color-purple), url("../img/nat-7.jpg");
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 1.75rem;
        position:absolute;
        top: 10rem;
        right: 1.3rem;
        font-weight: 300;
        color: $color-white;
        text-align: right;
        width: 75%;

        &--span {
            padding: 0.46rem 1rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;

            &--1 {
                background-image: linear-gradient(to bottom right, rgba($color-yellow, 0.6), rgba($color-orange, 0.6));
            }

            &--2 {
                background-image: linear-gradient(to bottom right, rgba($color-light_green, 0.6), rgba($color-dark_green, 0.6));
            }

            &--3 {
                background-image: linear-gradient(to bottom right, rgba($color-blue, 0.6), rgba($color-purple, 0.6));
            }
        }
    }

    &__details{
        width: 70%;
        text-align: center;
        // margin-top: ;
        margin: 0 auto;

        &-list {
            list-style: none;
            padding: 0.5rem 0;
            &:not(:last-child){
                border-bottom: 1px solid $color_light-gray-2; 
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &__price-box{
        color: $color-white;
        text-transform: uppercase;
    }

    &__price__only {
        font-size: $font_secondary-heading;
        font-weight: 400;
        font-size: .8rem;
    }

    &__price {
        padding-top: 0.7rem;
        padding-bottom: 8rem;
        font-size: $font_secondary-heading;
        font-weight: 200;
        font-size: 3.5rem;
    }
}


@include response (tab-port) {
    .card {
        height: auto;

        &__side {
            position: relative;
            height: auto;
            border-radius: 3px;

            &-front {
                padding-bottom: 3rem;
            }

            &-back {
                margin-top: -2rem;
                transform: rotateY(0);
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side-front {
            transform: rotateY(0);                
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
        }

        &__price-box{
            color: $color-white;
            padding: 3rem;
            text-transform: uppercase;
        }

        &__price__only {
            font-size: $font_secondary-heading;
            font-weight: 400;
            padding-top: 1.5rem;
            font-size: .8rem;
        }

        &__price {
            padding-top: 0.7rem;
            padding-bottom: 3rem;
            font-size: $font_secondary-heading;
            font-weight: 200;
            font-size: 3.5rem;
        }
    }
}