.section--contact__conatiner {
    background-image: url("../img/nat-10.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color_black, 0.3);
    height: 35rem;
    width: 85%;
    min-width: 32rem;
    margin: auto;

}

.form {
    padding: 3rem;
    min-width: 32rem;
    width: 55%;
    height: 100%;
    background-color: rgba($color_white, 0.85);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);

    @include response (tab-port) {
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    &__box {
        width: 80%;

        @include response (tab-port) {
            margin: auto;
        }
    }

    &-group {
        font-family: inherit;

        &__input-text, &__input-email {
            width: 100%;
            padding: 1rem;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            color: $color_medium-gray;
        
            &:focus {
                outline: none;
                box-shadow: 0 2rem 4rem rgba($color_black, 0.3);

                &:invalid {
                    border-bottom: 3px solid $color_orange;
                }
                &:valid {
                    border-bottom: 3px solid $color_medium-green;
                }
            }

            &::-webkit-input-placeholder{
                color: $color_deep-gray;
            }
        }

        &__radio {
            height: 1.5rem;
            position: relative;
            width: 100%;

            &--btn {
                display: none;
            }
            
            &--span {
                width: 1.75rem;
                height: 1.75rem;
                border: 4.5px solid $color_medium-green;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity 0.5s;

                &::after {
                    content: "";
                    width: 0.8rem;
                    height: 0.8rem;
                    background-color: $color_medium-green;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
            }

            &--btn:checked ~ &--span::after {
                opacity: 1;
            }

            &--lbl {
                padding-left: 2.6rem;
                font-size: 1.05rem;
            }
            
            &--1 {
                position: absolute;
                top: 0;
                left: 0;

                @include response (phone) {
                    display: block;
                    position: relative;
                    margin: auto;
                }
            }
            &--2 {
                position: absolute;
                top: 0;
                right: 0;

                @include response (phone) {
                    display: block;
                    position: relative;
                    margin-top: 1rem;
                }
            }
        }
    }
}