// COLORS
$color_light-green: #7ed56f;
$color_medium-green: #55c57a;
$color_dark-green: #28b485;
$color_white: white;
$color_deep-gray: #444;
$color_black: #36454f;
$color_medium-gray: #777;
$color_light-gray: #f7f7f7;
$color_light-gray-2: #eee;

$color-yellow: #ffb900;
$color-orange: #ff7730;

$color-blue: #2998ff;
$color-purple: #5643fa;


// FONT
$font_primary-heading: 1.8rem;
$font_secondary-heading: 1.1rem;
$font_paragraph: 1rem;
$font_weight_medium: 500;


//FloatLayout
$floatLaout--max_width: 50rem;
$floatLaout--gutter_horizantal: 3rem;
$floatLaout--gutter_vertical: 4rem;
$floatLaout--gutter_vertical-small: 3rem;
$floatLaout--background: #eee;
$floatLaout--col_background: orangered;
$floatLaout--text_color: white;

$gridLayout--max_width: 70rem;
$gridLayout--max_width_tab: 30rem;
$gridLayout--max_width_phone: 30rem;
$gridLayout--max_width: 70rem;
$gridLayout--height: 5rem;
$gridLayout--gap_horizantal: 2rem;
$gridLayout--gutter_vertical: 4rem;
$gridLayout--background: #eee;
$gridLayout--col_background: orangered;
$gridLayout--text_color: white;
