body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
}

.section__heading {
    font-size: $font_primary-heading;
    background-image: linear-gradient(to right, $color_light-green, $color_dark-green);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;

    &:hover {
        transform: skewY(3deg) skewX(10deg) scale(1.1);
    }
}

.sub-heading {
    color: $color_medium-gray;
    font-size: $font_secondary-heading;
    font-weight: $font_weight_medium;
    text-transform: uppercase;
}

.paragraph {
    color: $color_medium-gray;
    font-size: $font_paragraph;
    font-weight: $font_weight_medium;
    // text-transform: uppercase;
}