// TEXT
.u-text-center { text-align: center; }
.u-text-left { text-align: left; }


// MARGIN
.u-margin-top-xl { margin-top: 6rem; }
.u-margin-top-large { margin-top: 4.5rem; }
.u-margin-top-big { margin-top: 3.5rem; }
.u-margin-top-medium { margin-top: 2rem; }
.u-margin-top-small { margin-top: 1rem; }
.u-margin-top-micro { margin-top: 0.6rem; }
.u-margin-top-neg-big { margin-top: -8rem; }

.u-margin-bottom-big { margin-top: 4rem; }


// PADDING
.u-padding-bottom-large { padding-bottom: 5rem; }
.u-padding-bottom-big { padding-bottom: 3.5rem; }



// WIDTH
.width-100 { width: 100%; }