.section__row {
    width: 90%;
    max-width: $gridLayout--max_width;
    margin: 0 auto;
    margin-top: 2rem;

    @include response (tab-port) {
        max-width: $gridLayout--max_width_tab;
    }

    @include response (phone) {
        max-width: $gridLayout--max_width_phone;
    }

    // @include response (tab-land) {
    //     margin: 0 auto;
    // }
    
    &:not(:last-child) {
        margin-bottom: $floatLaout--gutter_vertical;

        @include response (tab-port) {
            margin-bottom: $floatLaout--gutter_vertical-small !important;
        }
    }

    @include clearfix;

    [class^="col-"] {
        height: 100%;
        float: left;
        // border: 1px solid black;

        &:not(:last-child) {
            margin-right: $floatLaout--gutter_horizantal;

            @include response (tab-port) {
                margin-right: 0 !important;
                margin-bottom: $floatLaout--gutter_vertical-small !important;
            }
        }
        
        @include response (tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$floatLaout--gutter_horizantal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - (#{$floatLaout--gutter_horizantal} * 2)) / 3);

        @include response (tab-land) {
            display: block;
        }
    }

    .col-1-of-4 {
        width: calc((100% - (#{$floatLaout--gutter_horizantal} * 3)) / 4);

        @include response (tab-land) {
            width: 40%;
            margin: 0 2rem;
            margin-bottom: 3rem;
        }
    }

    .col-2-of-3 {
        width: calc(((100% - (#{$floatLaout--gutter_horizantal} * 2)) / 3) * 2 + #{$floatLaout--gutter_horizantal});
    }

    .col-2-of-4 {
        width: calc(2 * (100% - (#{$floatLaout--gutter_horizantal} * 3)) / 4 + #{$floatLaout--gutter_horizantal});
    }

    .col-3-of-4 {
        width: calc(3 * (100% - (#{$floatLaout--gutter_horizantal} * 3)) / 4 + (#{$floatLaout--gutter_horizantal} * 2));
    }
}