.navigation {
    &_checkbox {
        display: none;
    }

    &_btn {
        display: inline-block;
        height: 4rem;
        width: 4rem;
        background: $color_white;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 1000;
        cursor: pointer;
        box-shadow: 0 2rem 5rem  rgba($color_black, .9);

        @include response(tab-land){
            top: 3rem;
            right: 3.5rem;
        }
    }

    &_background {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        background-image: radial-gradient($color_light-green, $color_dark-green);
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        z-index: 900;
        transition: all 0.8s ease-in-out;

        @include response(tab-land){
            top: 3.5rem;
            right: 4rem;
        }
    }

    &_bar {
        position: relative;
        top: 2rem;
        left: 1rem;

        &,
        &::after,
        &::before {
            width: 2rem;
            height: 2px;
            display: inline-block;
            background: black;
            z-index: 12000;
            // transform: rotate(90deg);

        }

        &::after, 
        &::before  {
            content: "";
            position: absolute;
            right: 0;
            transition: all 0.2s ease-in;
        }

        &::before {
            top: -0.4rem;

            @include response(phone){
                top: -0.5rem;
            }
        }
        &::after {
            top: 0.5rem;
        }
    }

    &_checkbox:checked ~ &_background {
        transform: scale(80);
    }


    &_checkbox:checked ~ &_btn &_bar {
        // transform: rotate(135deg);
        height: 0;
    }

    &_checkbox:checked ~ &_btn &_bar::after {
        transform: rotate(-45deg);
        top: 0;
    }

    &_checkbox:checked ~ &_btn &_bar::before {
        transform: rotate(45deg);
        top: 0;
    }

    &_details {
        position: fixed;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
        transition: all 0.8s cubic-bezier(.25,.14,.62,1.37);
    }

    &_lists {
        transition: all 0.8s ease-in-out;
    }

    &_item {
        margin: 2rem;
        list-style: none;
        text-align: center;
    }
    
    &_link {
        &:link, &:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            background-size: 250%;
            padding: 0.75rem 1.75rem;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 300;
            color: white;
            transition: all 0.8s ease-in-out;

        }

        // &:target {
        //     navigation_background {
        //         transform: scale(0);
        //     }
        //     navigation_details {
        //         left: -50%;
        //     }
        // }

        &:hover, &:active {
            transform: translateX(1rem);
            // background: white;
            background-position: 100%;
            color: $color_medium-green;
        }
    }

    &_checkbox:checked ~ &_details  {
        left: 50%;
}
}

.header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(
        to right, 
        rgba($color_light-green, 0.798), 
        rgba($color_dark-green, 0.798)), 
        url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;

    @include response(tab-land) {
        clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0 100%);
    }

    @include response(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    @include response(phone-small) {
        clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0 100%);
    }

    &-logo {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        
        img {
            /* width: 4rem; */
            height: 2rem;
        }
    }

    &-heading {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color_white;
        backface-visibility: hidden;
        text-transform: uppercase;

        &__primary {
            letter-spacing: 2rem;
            font-size: 3.5rem;
            font-weight: 400;
            animation: move-heading-left 1s ease-out;
        }

        &__sub {
            margin-top: -1rem;
            letter-spacing: 1rem;
            font-size: 1.1rem;
            font-weight: 700;
            animation: move-sub_heading-right 1s ease-out;
        }

        &__last-letter {
            letter-spacing: 0;
        }
    }
}

.section-about {
    background-color: $color_light-gray;
    padding: 5rem 0 12rem 0;
    margin-top: -5rem;

    @include response (tab-land) {
        padding: 5rem 0 8rem 0;
        margin-top: -4rem;
    }

    @include response (tab-port) {
        padding: 5rem 0 25rem 0;
        margin-top: -4rem;
    }
    
}

.section-features {
    margin-top: -8.5vh;
    padding: 10rem 0;
    background-image: linear-gradient(
            rgba($color_light-green, 0.8), 
            rgba($color_dark-green, 0.8)
        ), 
        url("../img/nat-4.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    transform: skewY(-3deg);
    
    // all direct child of element with class section-features
    & > * {
        transform: skewY(3deg);
    }

    @include response (tab-land) {
        padding: 8rem 0 10rem;
        margin-top: -3rem;

    }
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba($color_black, .9);
    top: 0;
    right: 0;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--container {
        height: 50vh;
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color_white;
        border-radius: 3px;
        overflow: hidden;
        display: table;
        box-shadow: 0 2rem 4rem rgba($color_black, .9);
    }

    &--left {
        width: 33%;
        height: 100%;
        display: table-cell;
    }

    &--right {
        width: 67%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem;
    }

    &--img {
        display: block;
        height: 50%;
    }

    &--close {
        &:link, &:visited {
            // display: inline-block;
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.3s;
            font-size: 1.6rem;
        }

        &:active, &:hover {
            color: $color_medium-green;
            transform: rotate(180deg);
        }
    }

    &--paragraph {
        hyphens: auto;
        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid $color_medium-gray;
    }

}

.section-tours {
    padding: 13rem 0 6rem 0;
    margin-top: -8.5vh;
    background-color: $color_light-gray;
    height: 100%;
}


.section--stories {
    padding: 8rem 0 6rem 0;
    position: relative;
    overflow: hidden;
}

.section--contact {
    padding: 8rem 0;
    margin-top: -1rem;
    background-image: linear-gradient(to bottom right, $color_light-green, $color_dark-green);
    position: relative;
    overflow: hidden;
}

.footer {
    background-color: $color_black;
    padding: 1rem;

    &__logo {
        width: 100%;
        text-align: center;
        padding: 5rem;
    }

    &__details {
        width: 100%;
        max-width: 75rem;
        position: relative;
        margin: 0 auto;

        &--links {
            display: inline-block;
            position: absolute;
            min-width: 17rem;
            width: 40%;
            border-top: 2px solid $color_medium-gray;
            top: 0;
            left: 0;
            
            &__items {
                text-align: center;
            }
            
            &__item {
                display: inline-block;
                list-style: none;

                a:link,
                a:visited {
                    text-decoration: none;
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: $color_white;
                    display: inline-block;
                    text-transform: uppercase;
                    transition: all .4s;
                }

                a:hover, a:active {
                    transform: scale(1.3) skewY(10deg);
                    box-shadow: 1px 3px 6px 1px rgba(0,0,0, 0.5);
                    background-color: $color_black;
                    color: $color_light-green;
                    letter-spacing: 1.1;
                }

                &:not(:last-child) {
                    margin-right: 1.1rem;
                }
            }

            @include response (tab-port) {
                display: block;
                width: 90%;
                position: relative;
                margin: auto;
            }
        }

        &--info {
            display: inline-block;
            width: 40%;
            min-width: 20rem;
            position: absolute;
            border-top: 2px solid $color_medium-gray;
            top: 0;
            right: 0;
            font-weight: 400;
            font-size: 0.9rem;
            color: $color_white;

            @include response (tab-port) {
                display: block;
                width: 90%;
                position: relative;
                text-align: center;
                margin: auto;
                margin-top: 2rem;
            }
        }
    }
}